{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}

<div class="container" style="margin-top: 5em;">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#mytask" aria-controls="mytask" role="tab" data-toggle="tab">My Task</a></li>
    <li role="presentation"><a href="#taketask" aria-controls="taketask" role="tab" data-toggle="tab">Take Task</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mytask" style="margin-top: 1em;">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Panel heading</div>
          <div class="panel-body">
            <p>...</p>
          </div>
        
          <!-- Table -->
          <table class="table">
            ...
          </table>
        </div>    
    </div>
    <div role="tabpanel" class="tab-pane" id="taketask" style="margin-top: 1em;">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Panel heading Task</div>
          <div class="panel-body">
            <p>...</p>
          </div>
        
          <!-- Table -->
          <table class="table">
            ...
          </table>
        </div>    
    </div>
  </div>

</div>
    

{% endblock %}
